version: "3"
services:
  frontend:
    container_name: guutar-shop-frontend
    build:
      context: ./web
    ports:
      - '80:80'
    networks:
      - web-service

  backend:
    container_name: guutar-shop-backend
    build:
      context: ./backend
    restart: always
    ports:
      - '8000:8000'
    networks:
      - web-service
      
  redis:
    container_name: redis
    image: redis:latest
    restart: always
    command: redis-server
    volumes:
      - redis:/var/lib/redis
      - redis-config:/usr/local/etc/redis/redis.conf
    ports:
      - '6379:6379'

  instana-agent:
    container_name: instana-agent
    image: icr.io/instana/agent
    volumes:
      - /var/run:/var/run
      - /run:/run
      - /dev:/dev:ro
      - /sys:/sys:ro
      - /var/log:/var/log:ro
    privileged: true
    pid: "host"    
    environment:
      - INSTANA_AGENT_ENDPOINT=${INSTANA_AGENT_ENDPOINT}
      - INSTANA_AGENT_ENDPOINT_PORT=${INSTANA_AGENT_ENDPOINT_PORT}
      - INSTANA_AGENT_KEY=${INSTANA_AGENT_KEY}
      - INSTANA_DOWNLOAD_KEY=${INSTANA_DOWNLOAD_KEY}
      - INSTANA_AGENT_ZONE=${INSTANA_AGENT_ZONE}
    expose:
      - 42699

volumes:
  redis:
  redis-config:

networks:
  web-service: