[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
starlette = "*"
pydantic = "*"
redis = "*"
instana = {ref = "v2.0.7", git = "git+https://github.com/instana/python-sensor"}

[dev-packages]

[requires]
python_version = "3.9"
